<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Your Account - Science Articles by Youth</title>
        <link rel="icon" href="/img/favicon.png">
        <link rel="stylesheet" href="/css/elements.css">
        <link rel="stylesheet" href="/css/account.css">
        <link rel="stylesheet" href="/css/articles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {{>header}}
        <div class="text-block">
            <div class="text-block slight-gray">
                <h2>Your Profile</h2>
                <div id="details">
                    <div id="set-prof-pic">
                        <div>
                            <h3>Your Current Profile Picture</h3>
                            <img id="current-prof-pic" src="/img/avatar.jpg" alt="User profile picture">
                        </div>
                        <form enctype="multipart/form-data" action="/avatar" method="post">
                            <input id="file-input" type="file" size="10" name="avatar"><br>
                            <input id="submit-input" type="submit"> 
                        </form>
                        <p id="image-status"></p>
                    </div>
                    <div id="set-descriptions">
                        <div>
                            <h3>Your Current Username</h3>
                            <p class="encourage-text">Usernames must be 1-16 characters long.</p>
                            <input id="current-username"></input><br>
                            <button id="set-username">Set Username</button>
                            <p id="username-status"></p>
                            <h3>Your Current Description</h3>
                            <p class="encourage-text">We encourage you to type around 1-4 sentences for your description.</p>
                            <textarea rows="6" id="current-desc"></textarea><br>
                            <button id="set-desc">Set Description</button>
                            <p id="description-status"></p>
                        </div>
                    </div>
                </div>
                <div class="text-block">
                    <h3>Posted Articles / Papers</h3>
                    <div class="posted-articles article-gallery">
                        <h4 class="posted-err-message"></h4>
                    </div>
                    <button onclick="window.location.href='/create'" class="make-own">Make an Article</button><br>
                    <button class="posted-find-more find-more">Find More</button>
                </div>
                <div class="text-block">
                    <h3>Unverified Articles / Papers</h3>
                    <div class="unverified-articles article-gallery">
                        <h4 class="unverified-err-message"></h4>
                    </div>
                    <button onclick="window.location.href='/create'" class="make-own">Make an Article</button><br>
                    <button class="unverified-find-more find-more">Find More</button>
                </div>
                <button id="logout" onclick="window.location.href = '/logout'">Logout</button>
                <button id="delete-acc">Delete</button>
                <div id="follow-screen">
                    <div id="delete-warning">
                        <p>Are you sure? You will lose your...</p>
                        <span>• Information</span>
                        <span>• Articles</span>
                        <span>• Friends</span>
                        <p>And worst of all, it's nonrecoverable. :(</p>
                        <button id="delete-deny">Cancel</button>
                        <button id="delete-confirm" onclick="window.location.href = '/delete'">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        {{>footer}}
        <script src="/js/account.js"></script>
        <script src="/js/posts-account.js"></script>
        <script>
            $(document).ready(async () => {
                const raw = await fetch("/info")
                const json = await raw.json()
                fetchUserPosts(json.username, false)
                fetchUserPosts(json.username, true)
                $(".posted-find-more").click(() => {
                    fetchUserPosts(json.username, false)
                })
                $(".unverified-find-more").click(() => {
                    fetchUserPosts(json.username, true)
                })
            })
        </script>
    </body>
</html>