<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Blog - SAY</title>
        <link rel="icon" href="/img/favicon.png">
        <link rel="stylesheet" href="/css/elements.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {{>header}}
        <div class="text-block">
            <h2>Blog</h2><hr>
            <container class="article-gallery no-animate">
                <article>
                    <h3 class="article-title">Article Title</h3>
                    <h4 class="article-info">Created by Lucas Wang</h4>
                    <img class="article-thumbnail" src="/img/space-bg.jpg">
                    <p class="article-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo..</p>
                    <div class="article-tags">
                        <p>Placeholder</p>
                        <p>Testing</p>
                        <p>Onetwothree</p>
                    </div>
                    <button class="read-more">Read More</button>
                </article>
                <article>
                    <h3 class="article-title">Article Title</h3>
                    <h4 class="article-info">Created by Lucas Wang</h4>
                    <img class="article-thumbnail" src="/img/space-bg.jpg">
                    <p class="article-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo..</p>
                    <div class="article-tags">
                        <p>Placeholder</p>
                        <p>Testing</p>
                        <p>Onetwothree</p>
                    </div>
                    <button class="read-more">Read More</button>
                </article>
                <article>
                    <h3 class="article-title">Article Title</h3>
                    <h4 class="article-info">Created by Lucas Wang</h4>
                    <img class="article-thumbnail" src="/img/space-bg.jpg">
                    <p class="article-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo..</p>
                    <div class="article-tags">
                        <p>Placeholder</p>
                        <p>Testing</p>
                        <p>Onetwothree</p>
                    </div>
                    <button class="read-more">Read More</button>
                </article>
            </container>
        </div>
        {{>footer}}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
        <script src="/js/blog.js"></script>
    </body>
</html>