<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Our Blog - Science Articles by Youth</title>
        <link rel="icon" href="/img/favicon.png">
        <link rel="stylesheet" href="/css/elements.css">
        <link rel="stylesheet" href="/css/articles.css">
        <meta name="description" content="Read through our carefully crafted science blog posts and get to know the authors! Our articles range from topics such as technology to life sciences!">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {{>header}}
        <div class="text-block article-text-block dark-gray">
            <div id="search-bar">
                <span id="current-tags" style="display: none;">{{tags}}</span>
                <input id="filter-keywords" type="text" placeholder="Search by tags (separated by spaces)...">
                <img id="filter-submit" src="/img/search.png">
            </div>
            <h4 id="err-message" style="margin-top: 35vh; margin-bottom: 35vh;"></h4>
            <container class="article-gallery">
                <article class="template-article" style="visibility: hidden;">
                    <img class="article-thumbnail" src="/img/def-thumbnail.jpg" alt="Template article for pre-loading">
                    <div class="article-right">
                        <h3 class="article-title">Lorem ipsum...</h3>
                        <h4 class="article-info">LWCoding / August 22, 2020</h4>
                        <p class="article-desc">Sample text.</p>
                        <div class="article-tags">
                            <p>Lorem ipsum...</p>
                        </div>
                        <button class="read-more">Read More</button>
                    </div>
                </article>
                <article class="template-article" style="visibility: hidden;">
                    <img class="article-thumbnail" src="/img/def-thumbnail.jpg" alt="Template article for pre-loading">
                    <div class="article-right">
                        <h3 class="article-title">Lorem ipsum...</h3>
                        <h4 class="article-info">LWCoding / August 22, 2020</h4>
                        <p class="article-desc">Sample text.</p>
                        <div class="article-tags">
                            <p>Lorem ipsum...</p>
                        </div>
                        <button class="read-more">Read More</button>
                    </div>
                </article>
            </container>
            <button class="find-more">Find More</button>
        </div>
        {{>footer}}
        <script src="/js/posts-blog.js"></script>
        <script src="/js/article-filter.js" async></script>
        <script>
            $(document).ready(() => {
                fetchPosts()
                $(".find-more").click(() => {
                    fetchPosts()
                })
            })
        </script>
    </body>
</html>