<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Error - SAY</title>
        <link rel="icon" href="/img/favicon.png">
        <link rel="stylesheet" href="/css/elements.css">
        <link rel="stylesheet" href="/css/socialmedia.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {{>header}}
        <div class="text-block">
            <h3>Contact Us</h3><hr>
            <div class="left-right">
                <div class="text-block">
                    <div class="social-media-block">
                        <img src="/img/gmail.png" onclick="window.location.href='mailto:sciencearticlesbyyouth@gmail.com'" alt="Email icon">
                        <a class="social-media-link" href="mailto:sciencearticlesbyyouth@gmail.com">Email</a>
                        <p class="social-media-text">sciencearticlesbyyouth@gmail.com</p>
                    </div>
                </div>
                <div class="text-block">
                    <div class="social-media-block">
                         <img src="/img/instagram.png" onclick="window.location.href='http://instagram.com/sciencearticlesbyyouth'" alt="Instagram icon">
                        <a class="social-media-link" href="http://instagram.com/sciencearticlesbyyouth">Instagram</a>
                        <p class="social-media-text">@sciencearticlesbyyouth</p>
                    </div>
                </div>
                <div class="text-block">
                    <div class="social-media-block">
                         <img src="/img/facebook.png" onclick="window.location.href='http://fb.me/sciencearticlesbyyouth'" alt="Facebook icon">
                        <a class="social-media-link" href="http://fb.me/sciencearticlesbyyouth">Facebook</a>
                        <p class="social-media-text">@sciencearticlesbyyouth</p>
                    </div>
                </div>
                <div class="text-block">
                    <div class="social-media-block">
                        <img src="/img/linkedin.png" onclick="window.location.href='https://www.linkedin.com/organization-guest/company/science-articles-by-youth?challengeId=AQGqtbTUX10PnAAAAXOHufarPtz-pzeo-xCf8OnVKvY27p_c8SbL-IJbzD7p4L3MZ_gMhwh9qJM3mNKG6rIR2Od7Pu2zf2Z-Lw&submissionId=f9b13343-c519-2516-1120-1c4b80795758'" alt="LinkedIn icon">
                        <a class="social-media-link" href="https://www.linkedin.com/organization-guest/company/science-articles-by-youth?challengeId=AQGqtbTUX10PnAAAAXOHufarPtz-pzeo-xCf8OnVKvY27p_c8SbL-IJbzD7p4L3MZ_gMhwh9qJM3mNKG6rIR2Od7Pu2zf2Z-Lw&submissionId=f9b13343-c519-2516-1120-1c4b80795758">LinkedIn</a>
                        <p class="social-media-text">@sciencearticlesbyyouth</p>
                    </div>
                </div>
            </div>
        </div>
        {{>footer}}
    </body>
</html>