<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Error - SAY</title>
        <link rel="icon" href="/img/favicon.png">
        <link rel="stylesheet" href="/css/elements.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {{>header}}
        <div class="text-block">
            <h3 style="margin-top: 30vh;">404 Error - Page Not Found</h3>
            <p style="margin-bottom: 30vh;">We couldn't find the website you were searching for! Click <a href="/">here</a> to go back to the homepage.</p>
        </div>
        {{>footer}}
    </body>
</html>