<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Executive Board - Science Articles by Youth</title>
        <link rel="icon" href="/img/favicon.png">
        <link rel="stylesheet" href="/css/elements.css">
        <meta name="description" content="Take a look at our executive board, and meet the individuals who helped bring Science Articles by Youth to it's feet! The executive board is subject to change.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {{>header}}
        <div class="text-block">
            <h3>Executive Board</h3><hr>
            <h4 id="err-message"></h4>
            <div class="triple-threat">

            </div>
            <button class="find-more">Find More</button>
        </div>
        {{>footer}}
        <script src="/js/fetchusers.js"></script>
        <script>
            $(document).ready(() => {
                fetchAdmins()
            })
        </script>
    </body>
</html>