<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Home - SAY</title>
        <link rel="icon" href="/img/favicon.png">
        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="/css/elements.css">
        <meta name="description" content="Empowering the scientific and technological future. Here, you can find blog posts, forums, and research papers created by anyone, for anyone.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {{>header}}
        <div id="space-bg">
            <h3 id="title-text">Empowering the scientific and technological future.</h3>
        </div>
        <div class="bar"></div>
        <div class="text-block">
            <h2>Home</h2><hr>
            <container class="left-right">
                <div class="info-block">
                    <h3>User Friendly</h3>
                    <p>Our website has organized buttons, tabs, article categorizations, 
                        and more in order to promise our users fast and efficient methods of navigation. 
                        Whether it be the reading, writing, or contact section, SAY has a clear and 
                        concise way that'll allow you to find what you want quickly.</p>
                </div>
                <div class="info-block">
                    <h3>A Space to Read</h3>
                    <p>As we continuously expand and collect youth users from all around the world, 
                        many of these users utilize SAY as a way to acquire knowledge about specific 
                        science and technological topics from the plethora of source-backed, reliable,
                        and edited youth-written articles on here. SAY allows the youth-user to 
                        efficiently obtain knowledge on the topic through the lens and words of another 
                        youth-user, making it a better alternative to reading books, reports, and articles 
                        written by adults who include a lot of professional jargon within their work.</p>
                </div>
                <div class="info-block">
                    <h3>A Space to Share</h3>
                    <p>Many of our youth users did not have an established and simple platform that allowed 
                        them to share their knowledge about a certain science or technological topic before 
                        the creation of SAY. SAY allows anyone, no matter how young, to share their knowledge 
                        for other youth to benefit from through the creation of an article. At SAY, we don't 
                        believe that age defines your knowledge on a topic.</p>
                </div>
                <div class="info-block">
                    <h3>A Space to Discuss and Connect</h3>
                    <p>Through our forums and comment sections, SAY has made it possible for anyone to 
                        discuss, ask questions, and connect with other youth about any topic! These 
                        will be moderated for any inappropriate behavior or false statements in order
                        to ensure that SAY is an enjoyable and safe platform for everyone.</p>
                </div>
            </container>
        </div>
        <div class="text-block">
            <h3>Interested in becoming a member?</h3><hr>
            <container class="left-right left-emphasis">
                <div class="info-block">
                    <p>Becoming a member of SAY has many benefits. You’ll be able to personalize your 
                        account and become easily found to other SAY users. Additionally, you’ll be 
                        able to connect with other members who are of similar ages and have similar 
                        interests from all around the world. Not only is becoming a member a great way 
                        to meet new people and form lasting connections, but it also enables you to
                        create posts and comment on others’ posts! The best part of it all however… 
                        is that it’s 100% free!</p>
                </div>
                <div class="button-column">
                    <button onclick="window.location.href = '/register'">Become a Member</button>
                    <button onclick="window.location.href = '/members'">See Other Members</button>
                    <button onclick="window.location.href = '/login'">Already a Member?</button>
                </div>
            </container>
        </div>
        <div class="text-block">
            <h3>Recently Added Articles</h3><hr>
            <container class="article-gallery">
                <article>
                    <h3 class="article-title">Article Title</h3>
                    <h4 class="article-info">Created by Lucas</h4>
                    <img class="article-thumbnail" src="/img/space-bg.jpg">
                    <p class="article-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo..</p>
                    <div class="article-tags">
                        <p>Placeholder</p>
                        <p>Testing</p>
                        <p>Onetwothree</p>
                    </div>
                    <button class="read-more">Read More</button>
                </article>
                <article>
                    <h3 class="article-title">Article Title</h3>
                    <h4 class="article-info">Created by Lucas</h4>
                    <img class="article-thumbnail" src="/img/space-bg.jpg">
                    <p class="article-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo..</p>
                    <div class="article-tags">
                        <p>Placeholder</p>
                        <p>Testing</p>
                        <p>Onetwothree</p>
                    </div>
                    <button class="read-more">Read More</button>
                </article>
                <article>
                    <h3 class="article-title">Article Title</h3>
                    <h4 class="article-info">Created by Lucas</h4>
                    <img class="article-thumbnail" src="/img/space-bg.jpg">
                    <p class="article-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo..</p>
                    <div class="article-tags">
                        <p>Placeholder</p>
                        <p>Testing</p>
                        <p>Onetwothree</p>
                    </div>
                    <button class="read-more">Read More</button>
                </article>
            </container>
        </div>
        {{>footer}}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
        <script src="/js/block-fade.js"></script>
    </body>
</html>