<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Journal - SAY</title>
        <link rel="icon" href="/img/favicon.png">
        <link rel="stylesheet" href="/css/elements.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {{>header}}
        <div class="text-block">
            <h3>SAY Journal</h3><hr>
            <div class="triple-threat">
                
            </div>
        </div>
        {{>footer}}
        <script src="/js/fetchposts.js"></script>
        <script>
            $(document).ready(() => {
                fetchPosts()
                $(".article-gallery > article").css({opacity: 0.3, transform: "translate(0, -10px)"})
                $(".article-gallery > article").waypoint(function(direction) {
                    $(this[0, "element"]).css({opacity: 1, transform: "translate(0px, 0px)", transition: "opacity 1.5s ease, transform 1.5s ease"})
                }, { offset: "95%" })
            })
        </script>
    </body>
</html>