<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Journal - SAY</title>
        <link rel="icon" href="/img/favicon.png">
        <link rel="stylesheet" href="/css/elements.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {{>header}}
        <div class="text-block">
            <h3>SAY Journal</h3><hr>
            <h4 id="err-message"></h4>
            <container class="article-gallery">

            </container>
            <button class="find-more">Find More</button>
        </div>
        {{>footer}}
        <script src="/js/fetchposts.js"></script>
        <script>
            $(document).ready(() => {
                fetchPosts()
                $(".find-more").click(() => {
                    fetchPosts()
                })
            })
        </script>
    </body>
</html>