<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Members - Science Articles by Youth</title>
        <link rel="icon" href="/img/favicon.png">
        <link rel="stylesheet" href="/css/elements.css">
        <meta name="description" content="Take a look at all of the members that are a part of Science Articles by Youth! View the articles that they've written and read small snippets of information about them!">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {{>header}}
        <div class="text-block">
            <h3>Members</h3><hr>
            <h4 id="err-message"></h4>
            <div class="triple-threat">
                <div id="template-member" class="member-block" style="visibility: hidden;">
                    <h2 class="prof-username">Lorem Ipsum</h2>
                    <h4 class="prof-role">Foo Bar</h4>
                    <img class="prof-avatar" src="/img/space-bg.jpg" alt="Template member block for pre-loading">
                </div>
            </div>
            <button class="find-more">Find More</button>
        </div>
        {{>footer}}
        <script src="/js/fetchusers.js"></script>
        <script>
            $(document).ready(() => {
                fetchMembers()
            })
        </script>
    </body>
</html>