<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Public Profile - Science Articles by Youth</title>
        <link rel="icon" href="/img/favicon.png">
        <link rel="stylesheet" href="/css/elements.css">
        <link rel="stylesheet" href="/css/publicprof.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {{>header}}
        <div class="text-block">
            <h2>{{username}}'s Profile</h2><hr>
            <div class="user-block">
                <img id="pub-prof-icon" src="/avatar/{{username}}" onerror="$(this).attr('src', '/img/avatar.jpg')" alt="Public profile picture">
                <p class="inline-block">{{description}}</p><span id="user-id" style="display: none;">{{id}}</span>
            </div>
            <div class="text-block">
                <h3>Posted Articles</h3>
                <h4 id="err-message"></h4>
                <div class="article-gallery inline-block">
                    
                </div>
                <button class="find-more">Find More</button>
            </div>
        </div>
        {{>footer}}
        <script src="/js/fetchposts.js"></script>
        <script>
            $(document).ready(() => {
                fetchUserPostsSingular($("#user-id").text())
            })
        </script>
    </body>
</html>