<link rel="stylesheet" href="/css/header.css">
<div id="header">
    <div id="header__topbar">
        <div id="title">
            <img src="/img/favicon.png">
            <h1>Science Articles by Youth</h1>
        </div>
    </div>
    <div id="header__nav">
        <a href="/home">Home</a>
        <a href="/blog">Blog</a>
        <a href="/">SAY Journal</a>
        <a href="/">Contact Us</a>
        <div class="nav__dropdown">
            <a href="/">The Team</a>
            <div class="nav__links">
                <a href="/">Executive Board</a>
                <a href="/">Members</a>
            </div>
        </div>
        <div class="nav__dropdown">
            <a href="/">Account</a>
            <div class="nav__links">
                <a href="/register">Register</a>
                <a href="/login">Login</a>
                <a class="account-name" href="/account">Account</a>
            </div>
        </div>
    </div>
    <div class="dropdown">
        <span id="open-dropdown"></span>
        <div id="header__dropdown">
            <a href="/home">Home</a>
            <a href="/blog">Blog</a>
            <a href="/">SAY Journal</a>
            <a href="/">Contact Us</a>
            <div class="side-by-side">
                <a href="/">Executive Board</a>
                <a href="/">Members</a>
            </div>
            <div class="side-by-side">
                <a href="/register">Register</a>
                <a href="/login">Login</a>
                <a class="account-name" href="/account">Account</a>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(() => {
        $("#open-dropdown").click(() => {
            if ($("#header__dropdown").css("display") == "none") {
                $("#header__dropdown").css({display: "flex", flexDirection: "column"})
            } else {
                $("#header__dropdown").css({display: "none"})
            }
        })
        // Sanitize everything later!
        fetch("/get-username").then(async (res) => {
            if (res.ok) {
                let info = await res.json()
                $(".account-name").html(info.username)
            } else {
                $(".account-name").css({display: "none"})
            }
        })
    })
</script>