<link rel="stylesheet" href="/css/header.css">
<div id="header">
    <div id="header__topbar">
        <div id="title">
            <img src="/img/favicon.png">
            <h1>Science Articles by Youth</h1>
        </div>
    </div>
    <div id="header__nav">
        <a href="/">Home</a>
        <a href="/">Blog</a>
        <a href="/">The Team</a>
        <a href="/">Contact Us</a>
        <a href="/">SAY Journal</a>
        <a href="/">Account</a>
    </div>
</div>
