.condense > * {
    margin-left: 3vw;
    margin-right: 3vw;
}

.left-right {
    margin-top: 5vh;
}

#user-input > * {
    margin: 0;
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1vh;
}

#contents-input {
    resize: none;
    height: 40vh;
    margin-bottom: 0.5vh !important;
}

input, form, textarea, button {
    outline: none
}

.input-button, form {
    padding: 0 !important;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.input-button > * {
    padding: 0.5em;
}

#tag-input, #file-input {
    flex: 3;
}

#submit-tag, #delete-tag, #submit-input {
    flex: 1;
}

button {
    transition: all 0.6s ease;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#publish-article {
    width: 16vw;
    margin: 1.5vh 1.5vw;
    font-size: 1.3em;
    margin-top: 2vh;
    border-radius: 2vh;
    color: white;
    border: none;
    background: linear-gradient(rgb(0, 170, 0), green);
}

#status-message {
    color: red;
    display: none;
    padding: 0 8vw;
    text-align: center;
    font-size: 0.9rem;
}

@media only screen and (min-width: 812px) {
    .condense > *:first-child {
        margin-left: 8vw !important;
    }
    
    .condense > *:last-child {
        margin-right: 8vw !important;
    }
}

@media only screen and (max-width: 812px) {
    .condense > * {
        margin-bottom: 4vh;
    }
    #publish-article {
        width: 30vh;
    }
}