html {
    background: linear-gradient(rgb(230, 230, 230), rgb(212, 212, 212));
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

/* Green bars. */

.bar {
    display: block;
    width: 100vw;
    min-height: 2vh;
    padding: 2% 0;
    background: linear-gradient(rgb(0, 170, 0), green);
}

/* White text blocks. */

.text-block {
    background: white;
    text-align: center;
    margin: 3%;
    padding: 3% 2%;
    box-shadow: 2px 2px #cacaca;
}

.text-block > h2 {
    font-size: 34px;
    margin: 2vh auto;
}

.text-block > h3 {
    font-size: 30px;
    margin: 2vh auto;
}

.text-block > hr {
    margin: 1vw 20vw;
    height: 3px;
    background: black;
}

/* User info block. */

.user-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    margin: auto;
}

.user-block > * {
    width: 50%;
    height: 20vh;
}

.user-block > p {
    padding: 16px 16px;
}

.inline-block {
    background: linear-gradient(rgb(230, 230, 230), rgb(212, 212, 212));
}

/* Defining left-right, which contains elements which should be in 2 equal columns. */

.left-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.info-block {
    padding: 2%;
    margin: 4%;
}

.info-block > p {
    line-height: 1.5rem;
}

.info-block > h3 {
    font-size: 24px;
    margin-bottom: 0.3em;
    font-weight: 600;
}

.remove-top-margin {
    margin-top: 0px !important;
}

/* Defining triple-threat, which contains elements which should be in 3 equal columns. */

.triple-threat {
    display: grid;
    padding: 2vh 2vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

/* Defining member block, which encapsulates a member's information. */

#err-message {
    margin-top: 20vh;
    margin-bottom: 20vh;
    font-size: 20px;
    grid-column: span 3;
}

.inline-block > #err-message {
    margin-top: 3vh;
    margin-bottom: 4vh;
}

.member-block {
    margin: 1vh 2vw;
    box-sizing: content-box;
    min-height: 10vh;
    position: relative;
}

.member-block .banner:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.member-block .overlay {
    width: 100%;
    height: 98%;
    position: absolute;
    top: 0%;
    left: 0%;
    background: rgba(0, 0, 0, 0.3);
    pointer-events: none;
}

.member-block .admin-color {
    color: rgb(230, 59, 59) !important;
}

.member-block .banner {
    max-width: 100%;
    min-height: 40vh;
    max-height: 50%;
    object-fit: cover;
    transition: transform 1s ease;
}

.prof-username {
    color: white;
    padding-top: 2vh;
    padding-bottom: 2vh;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.prof-avatar {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    background: white;
    border: 3px solid white;
    object-fit: cover;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.slight-gray {
    background: #efefef !important;
}

/* Defining button-column, which denotes a column of buttons (where rows have one button each). */

.left-emphasis {
    grid-template-columns: 2fr 1fr !important;
}

.button-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 4vh auto;
}

.button-column > button:before {
    content: "";
    display: inline-block;
    width: 0; 
    height: 0; 
    border-top: 0.4em solid transparent;
    border-bottom: 0.4em solid transparent;
    border-left: 0.5em solid rgb(25, 170, 25);
    margin-right: 0.5em;
}

.button-column > button {
    padding-left: 1em;
    padding-right: 1em;
    border: 0px;
    color: white;
    background: linear-gradient(rgb(97, 89, 89), rgb(97, 90, 90));
    height: 5vh;
    font-size: 18px;
}

.button-column > button:hover {
    cursor: pointer;
}

.no-animate > * {
    animation: none !important;
}

/* Stylized read more button. */

.find-more {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 40%;
    height: 2em;
    font-size: 1rem;
    color: white;
    border: 0;
    border-radius: 10px;
    background: linear-gradient(rgba(0, 170, 0, 0.8), rgba(0, 95, 0, 0.9));
    transition: all 0.6s ease;
}

.find-more:hover {
    transform: scale(1.1); 
}

.find-more:focus {
    outline: none;
}

.find-more:disabled {
    cursor: default;
}

/* Keyframes for various shrink/grow opacity effects. */

@keyframes tiny-grow-start {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.01);
    }
}

@keyframes tiny-grow-end {
    0% {
        transform: scale(1.01);
    }
    100% {
        transform: scale(1);
    }
}

/* Media query for phones. */

@media only screen and (max-width: 1096px) {
    .triple-threat {
        grid-template-columns: 1fr 1fr;
    }
    .member-block {
        margin: 1vh 1.5vw;
    }
}

@media only screen and (max-width: 728px) {
    .triple-threat {
        grid-template-columns: 1fr;
        margin: 1vh 11vw;
        padding: 2vh 0;
    }
}

@media only screen and (max-width: 812px) {
    .left-right {
        grid-template-columns: 1fr;
    }
    .left-emphasis {
        grid-template-columns: 1fr !important;
    }
    .button-column {
        margin-top: 0vh;
    }
    .button-column > button {
        margin-bottom: 1vh;
    }
    .user-block {
        flex-direction: column;
    }
    .user-block > p {
        width: 100%;
        margin-bottom: 4vh;
    }
}

/* Media query for devices bigger than 812px. */

@media only screen and (min-width: 812px) { 
    .button-column > button {
        opacity: 0.7;
        transition: all 0.5s ease;
    }
    .button-column > button:hover {
        opacity: 1;
        transform: scale(1.2);
    }
    article {
        animation: tiny-grow-end 0.6s ease forwards;
    }
    article:hover {
        animation: tiny-grow-start 0.6s ease forwards;
    }
}