#footer {
    width: 100vw;
    background: rgb(40, 40, 40);
    height: 8vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: auto;
}

#copyright {
    margin-left: auto;
    padding: 0 3vw;
    color: white;
}