.form-title {
    font-size: 36px !important;
    margin-bottom: 0.75em !important;
    margin-top: 10vh !important;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form > label {
    font-weight: 700;
    margin-bottom: 0.3em;
}

form > input {
    width: 30vw;
    height: 5vh;
    margin-bottom: 2vh;
    font-size: 18px;
}

form > button {
    width: 15vw;
    height: 5vh;
    margin-top: 1vh;
    margin-bottom: 10vh;
    position: relative;
}

#remember-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.9rem;
    margin-top: 1vh;
    margin-bottom: 1.4vh;
    padding: 0;
}

#remember-div > * {
    margin: 0 0.5vw;
    font-weight: 700;
}

#remember-div > input {
    width: 16px;
    height: 16px;
}

.required::after {
    content: " *";
    color: red;
    text-decoration: dashed;
}

#reg-status, #log-status {
    color: red;
    font-size: 14px;
    padding-top: 2vh !important;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -150%);
}

#reg-desc {
    width: 30vw;
    margin-bottom: 2vh;
    resize: none;
}

@media only screen and (max-width: 812px) {
    form > input {
        width: 50vw;
    }
    #reg-desc {
        width: 60vw;
    }
}