@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

#header__topbar {
    background: linear-gradient(to right, rgb(0, 125, 0), rgb(0, 170, 0), rgb(0, 125, 0));
    width: 100vw;
    min-height: 4rem;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

#title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#title > img {
    width: 87px;
    height: 87px;
    border-radius: 44px;
}

#title > h1 {
    padding-left: 20px;
    font-size: 40px;
    color: white;
    text-align: center;
    font-family: "Noto Sans JP";
    font-weight: 700;
    letter-spacing: 1px;
}

#header__nav, #header__dropdown {
    width: 100vw;
    min-height: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#open-dropdown {
    display: none;
}

#header__dropdown > a {
    width: 100vw;
    z-index: 3;
}

.dropdown {
    position: relative;
}

#header__dropdown {
    display: none;
    position: absolute;
}

.side-by-side {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#header__nav > *, #open-dropdown, #header__dropdown > a, .side-by-side > a, .nav__links {
    padding: 1% 0;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    width: 100%;
    color: rgba(255, 255, 255, 0.8);
    flex: 1;
    z-index: 3;
    animation: linkHide 0.3s ease 0s forwards;
}

.side-by-side > a {
    border-right: 1px solid white;
}

.nav__links > a {
    animation: linkHide 0.3s ease 0s forwards;
}

.nav__dropdown > .nav__links {
    display: none;
}

.nav__dropdown {
    position: relative;
}

.nav__dropdown:hover > .nav__links, .nav__dropdown > *:hover .nav__links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
}

.nav__dropdown a {
    padding: 2% 0;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.nav__dropdown:hover, .nav__dropdown > a:first-child {
    cursor: default !important;
}

#header__nav > *:hover, #header__dropdown > a:hover, .nav__links > a:hover, .side-by-side > a:hover {
    cursor: pointer;
    animation: linkShow 0.3s ease 0s forwards;
}

@keyframes linkHide {
    0% { background: linear-gradient(rgb(0, 190, 0), rgb(0, 150, 0)); }
    100% { background: linear-gradient(rgb(0, 170, 0), green); }
}

@keyframes linkShow {
    0% { background: linear-gradient(rgb(0, 170, 0), green); }
    100% { background: linear-gradient(rgb(0, 190, 0), rgb(0, 150, 0)); }
}

@media only screen and (max-width: 812px) {
    #open-dropdown {
        display: block;
        width: 100vw;
    }
    #open-dropdown:before {
        content: "";
        border: solid black;
        margin-left: 22px;
        border-width: 0 4px 4px 0;
        display: inline-block;
        padding: 6px;
        transform: rotate(45deg);
    }
    #title > img {
        display: none;
    }
    #header__nav {
        display: none;
    }
}

@media only screen and (min-width: 812px) {
    #header__dropdown > * {
        display: none;
    }
}