/* Space background and text. */

#space-bg {
    background-image: url("/img/def-thumbnail.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-clip: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    width: 100vw;
    position: relative;
    z-index: 1;
}

#space-bg::after {
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 2;
}

#space-bg > h3 {
    color: white;
    font-size: 3.5rem;
    margin: 0 15vw;
    text-align: center;
    animation: fade-in 3s ease;
    z-index: 3;
}

@keyframes fade-in {
    0% {
        opacity: 0.1; transform: translate(0, -50px);
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1; transform: translate(0, 0);
    }
}

@media only screen and (max-width: 812px) {
    #space-bg {
        background-attachment: scroll;
    }
}