/* Space background and text. */

article {
    background: #efefef !important;
}

#space-bg {
    background-image: url("/img/def-thumbnail.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-clip: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    width: 100vw;
    position: relative;
    z-index: 1;
}

#space-bg::after {
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 2;
}

#space-bg > h3 {
    color: white;
    font-size: 3.5rem;
    margin: 0 15vw;
    text-align: center;
    animation: fade-in 3s ease;
    z-index: 3;
}

.button-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 4vh auto;
}

.button-column > button:before {
    content: "";
    display: inline-block;
    width: 0; 
    height: 0; 
    border-top: 0.4em solid transparent;
    border-bottom: 0.4em solid transparent;
    border-left: 0.5em solid rgb(25, 170, 25);
    margin-right: 0.5em;
}

.button-column > button {
    padding-left: 1em;
    padding-right: 1em;
    border: 0px;
    color: white;
    background: linear-gradient(rgb(97, 89, 89), rgb(97, 90, 90));
    height: 5vh;
    font-size: 18px;
}

.button-column > button:hover {
    cursor: pointer;
}

@keyframes fade-in {
    0% {
        opacity: 0.1; transform: translate(0, -50px);
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1; transform: translate(0, 0);
    }
}

@media only screen and (min-width: 812px) {
    .button-column > button {
        opacity: 0.7;
        transition: all 0.5s ease;
    }
    .button-column > button:hover {
        opacity: 1;
        transform: scale(1.05);
    }
}

@media only screen and (max-width: 812px) {
    #space-bg {
        background-attachment: scroll;
    }
    .button-column {
        margin-top: 0vh;
    }
    .button-column > button {
        margin-bottom: 1vh;
    }
}