/* Space background and text. */

#space-bg {
    background-image: url("/img/space-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-clip: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100vw;
}

#space-bg > h3 {
    color: white;
    font-size: 8vh;
    margin: 0 15vw;
    text-align: center;
    animation: fade-in 3s ease;
}

.fade-in {
    animation: less-dramatic-fade-in 1.5s ease forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0.1;
        transform: translate(0, -50px);
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes less-dramatic-fade-in {
    0% {
        opacity: 0.1;
        transform: translate(0, -20px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}