#article-contents {
    margin: 3vh 10vw;
    line-height: 1.5rem;
}

#article-title {
    font-family: "Playfair Display";
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.subheader-text {
    font-family: "Playfair Display";
    font-weight: 400;
    font-style: italic;
    color: rgb(97, 97, 97);
    font-size: 1.1rem;
}

.author-text {
    font-family: "Playfair Display";
    text-transform: uppercase;
    font-weight: 700;
    color: black;
    font-size: 1.3rem;
    margin-top: 0.4rem;
}

.author-desc {
    font-weight: 400;
    color: rgb(27, 27, 27);
    font-size: 0.95rem;
    margin-top: 0.5rem; 
}

.author-pfp {
    height: 96px;
    width: 96px;
    border-radius: 64px;
    background: white;
}

img {
    max-width: 50vw;
    max-height: 50vh;
    object-fit: cover;
}

#thumbnail-image {
    margin-top: 2vh;
}

#button-row button {
    width: 10vw;
    height: 4vh;
    border-radius: 2vh;
    margin: 0 1vw;
    color: white;
    border: none;
}

#restricted button:focus, #preview button:focus {
    outline: none;
}

#restricted button, #preview button {
    transition: all 0.6s ease;
}

#restricted button:hover, #preview button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#edit-article, #verify-article {
    background: linear-gradient(rgb(0, 170, 0), green);
}

#delete-article {
    background: rgb(223, 64, 64);
}

#restricted {
    display: none;
}

#article-notice, #preview-notice {
    font-size: 0.9rem;
    padding: 0 4vw;
    margin-bottom: 1vh;
}

#preview {
    margin-bottom: 1vh;
}

#follow-screen {
    top: 0%;
    left: 0%;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.25);
    z-index: 99;
    display: none;
}

#delete-warning, #comment-delete-warning {
    background: white;
    position: absolute;
    background-attachment: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    padding: 3vh 3vw;
}

#delete-warning *, #comment-delete-warning * {
    width: 100% !important;
    margin: 0.35vh 0;
}

#delete-warning span, #comment-delete-warning span {
    font-weight: 700;
    margin: 0.45vh 0;
}

#delete-warning button, #comment-delete-warning button {
    margin: 2vh 4vw 0 4vw;
    font-size: 1.1rem;
    height: 4vh;
    text-decoration: none;
    color: white;
    border-radius: 6vh;
    border: none;
    font-weight: 700;
}

#delete-confirm, #comment-delete-confirm {
    background: rgb(223, 64, 64);
    margin-top: 1vh !important;
}

#delete-deny, #comment-delete-deny {
    background: linear-gradient(rgb(0, 170, 0), green);
}

@media only screen and (max-width: 912px) {
    #delete-warning {
        width: 70vw !important;
    }
    #verify-article, #edit-article, #delete-article, #delete-deny, #delete-confirm, #comment-delete-confirm, #comment-delete-deny {
        width: 30vw !important;
    }
}