#pub-prof-icon {
    width: 256px;
    height: 256px;
    border-radius: 128px;
    margin-bottom: 8px;
    object-fit: cover;
}

.user-block {
    margin-top: 48px !important;
}

#err-message {
    margin-top: 8vh;
    margin-bottom: 8vh;
}