.social-media-block {
    display: flex;
    flex-direction: column;
}

.social-media-block > img {
    object-fit: contain;
    margin-bottom: 2vh;
}

.social-media-block > img:hover {
    cursor: pointer;
}

.social-media-link {
    font-size: 1.3rem;
    color: black;
    font-weight: 700;
}

.social-media-text {
    color: rgb(80, 80, 80);
    font-size: 1rem;
}